name: Create weekly updates reminder
on:
  schedule:
    - cron: '00 10 * * 0'

jobs:
  create_issue:
    name: Create weekly updates reminder
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create weekly updates reminder
        run: |
          if [[ $CLOSE_PREVIOUS == true ]]; then
            previous_issue_number=$(gh issue list \
              --label "$LABELS" \
              --json number \
              --jq '.[0].number')
            if [[ -n $previous_issue_number ]]; then
              gh issue close "$previous_issue_number"
              gh issue unpin "$previous_issue_number"
            fi
          fi
          new_issue_url=$(gh issue create \
            --title "$TITLE" \
            --assignee "$ASSIGNEES" \
            --label "$LABELS" \
            --milestone "$MILESTONE" \
            --body "$BODY")
          if [[ $PINNED == true ]]; then
            gh issue pin "$new_issue_url"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TITLE: Check weekly dependency updates
          ASSIGNEES: nicolasomar
          BODY: |
            ### Objective

            Update React Key Generator's dependencies to the latest versions from last week.

            ---
              
            ### Description

            TBA.

            ---
              
            ### Tasks

            - [ ] Run the script for the update and wait until the new installed versions. `npm run update`.
            - [ ] Check build process runs without stoppers. `npm run build`.
            - [ ] Create the branch and PR associated with the abovementioned changes.
            - [ ] Wait until PR-related workflows run OK.
          PINNED: false
          CLOSE_PREVIOUS: false
